body{
	text-align: center;
	padding-top: 20px;
	background-color: #444444;
}

button{

	padding: 0;
border: none;
background: none;

}

h1 {
	color: #18A949;
	font-family: 'Oswald', sans-serif; 
}

#header{
	-webkit-filter: greyscale(1);
}